@model Model.User


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>基本信息</p>
                    <div class="col-md-10">
                        <table class="editing-tab table-2-column">
                            <tr>
                                <th>用户名：</th>
                                <td>@Model.UserName</td>
                                <th>账号：</th>
                                <td>@Model.Account</td>
                            </tr>
                            <tr>
                                <th>邮箱：</th>
                                <td>@Model.Email</td>
                                <th>注册时间：</th>
                                <td>@Model.CreateTime.ToString("yyyy-MM-dd hh:mm")</td>
                            </tr>
                            <tr>
                                <th>手机号：</th>
                                <td></td>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <img class="profile-user-img img-responsive img-circle" src="@Model.HeadImage" />
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-body">
                    <p>其他信息</p>

                </div>
            </div>
        </div>
    </div>
</section>