@model IEnumerable<Model.User>
@{
    PagingModel paging=ViewBag.PageInfo as PagingModel;
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">表格标题</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr>
                                            <th>账号</th>
                                            <th>用户名</th>
                                            <th>邮箱</th>
                                            <th>头像</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Account</td>
                                                <td>@item.UserName</td>
                                                <td>@item.Email</td>
                                                <td>@item.HeadImage</td>
                                                <td>
                                                    查看 编辑
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_Paging", paging)
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>