@model IEnumerable<Model.User>
@{
    PagingModel paging=ViewBag.PageInfo as PagingModel;
}

<section class="content" id="vueContent">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="form-horizontal">
                            <div style="margin-bottom:5px" class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">账号</label>
                                <div class="col-sm-8">
                                    <input type="text" style="width:100%" class="form-control" v-model="account"/>
                                </div>
                            </div>

                            <div style="margin-bottom:5px" class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input type="text" style="width:100%" class="form-control" v-model="userName"/>
                                </div>
                            </div>

                            <div style="margin-bottom:5px" class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">邮箱</label>
                                <div class="col-sm-8">
                                    <input type="text" style="width:100%" class="form-control" v-model="email" />
                                </div>
                            </div>

                            <div style="margin-bottom:5px" class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">开始时间</label>
                                <div class="col-sm-8 input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" style="width:100%" class="form-control" id="startDatePicker" v-model="startTime" />
                                </div>
                            </div>
                            <div style="margin-bottom:5px" class="form-group col-sm-4">
                                <label class="col-sm-4 control-label">结束时间</label>
                                <div class="col-sm-8 input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" style="width:100%" class="form-control" id="endDatePicker" v-model="endTime" />
                                </div>
                            </div>

                            <div style="margin-bottom:5px;text-align:center" class="form-group col-sm-12">
                                <button type="submit" v-on:click="search" class="btn btn-info">搜索</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr>
                                            <th>账号</th>
                                            <th>用户名</th>
                                            <th>邮箱</th>
                                            <th>头像</th>
                                            <th>创建时间</th>
                                            <th style="text-align:center">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>@item.Account</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.HeadImage</td>
                                            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:MM")</td>
                                            <td style="text-align:center">
                                                <a href="@Url.Content("~/User/Detail/"+item.Id)">查看</a>
                                                <a href="@Url.Content("~/User/Edit/"+item.Id)">编辑</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("_Paging", paging)
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#startDatePicker").datepicker({ autoclose: true });
        $("#endDatePicker").datepicker({ autoclose: true });
    });

    new Vue({
        el: "#vueContent",
        data:{
            account: '@Html.Raw(paging.QueryParams.ContainsKey("account")?paging.QueryParams["account"]:"")',
            userName: '@Html.Raw(paging.QueryParams.ContainsKey("userName") ? paging.QueryParams["userName"] : "")',
            email: '@Html.Raw(paging.QueryParams.ContainsKey("email") ? paging.QueryParams["email"] : "")',
            startTime: '@Html.Raw(paging.QueryParams.ContainsKey("startTime") ? paging.QueryParams["startTime"] : "")',
            endTime:'@Html.Raw(paging.QueryParams.ContainsKey("endTime") ? paging.QueryParams["endTime"] : "")'
        },
        methods: {
            search: function () {
                if ((this.startTime == '' && this.endTime != '') || (this.startTime != '' && this.endTime == '')){
                    Widget.alert("请同时输入开始时间和结束时间");
                    return;
                }

                if (this.startTime != '' && this.endTime != ''){
                    if (new Date(this.startTime) >= new Date(this.endTime)){
                        Widget.alert("开始时间不能大于结束时间");
                    }
                }
                var url = location.href;
                if (url.indexOf("?") > 0) {
                    url =url.substring(0,url.indexOf("?"))
                }

                url += "?pageIndex=1";

                if (this.account != ''){
                    url += "&account=" + this.account;
                }

                if (this.userName != '') {
                    url += "&userName=" + this.userName;
                }

                if (this.email != '') {
                    url += "&email=" + this.email;
                }

                if (this.startTime != '')
                {
                    url += "&startTime=" + this.startTime + "&endTime=" + this.endTime;
                }

                location.href = url;
            }
        }
    })
</script>