@model Model.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @using(Html.BeginForm("Create","Account",FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id);
            @Html.LabelFor(m=>m.UserName)
            @Html.TextBoxFor(m=>m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.LabelFor(m => m.Account)
            @Html.TextBoxFor(m => m.Account)
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            <input type="submit" value="提交" />
        }
    </div>
</body>
</html>
