@{
    Model.User currentUser = ViewBag.CurrentUser as Model.User;
    string headImage = string.Format("{0}/{1}", FilePathConfig.HEADIMAGE_URL, "default.jpg");
    if (!string.IsNullOrEmpty(currentUser.HeadImage))
    {
        headImage = string.Format("{0}/{1}", FilePathConfig.HEADIMAGE_URL, currentUser.HeadImage);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/AdminLTE")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Content("~/Home/Index")" class="logo">
                <span class="logo-mini">
                    <img alt="" src="img/avatar2.png" width="40px" height="40px">
                </span>
                <span class="logo-lg">xxx后台管理系统</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="###" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src= "@headImage" class="user-image" alt="User Image">
                                <span class="hidden-xs">@currentUser.UserName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img id="user-header" src="@headImage" class="img-circle" alt="User Image">
                                    <p>用户名</p>
                                </li>
                                <!--Menu Body-->
                                <li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a id="systemsettingBtn" href="javascript:void(0)" class="btn btn-default btn-flat">修改密码</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Content("~/Home/Logout")" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="@Url.Content("~/Home/Logout")">
                                退出
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Content("~/User/Index")"><i class="fa fa-link"></i> <span>用户管理</span></a></li>
                    <li><a href="#"><i class="fa fa-link"></i> <span>角色管理</span></a></li>
                    <li><a href="@Url.Content("~/Email/Index")"><i class="fa fa-envelope"></i> <span>邮件</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>系统</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">登陆日志</a></li>
                            <li><a href="#">系统日志</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    页面标题
                    <small>页面描述</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">Here</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
    </div>
</body>
</html>
